.body {
    margin: 0;
}
.banner {
    border: yellow solid 3px;
    height: 300px;
    display: flex;
    background-color: aqua;

}
.banner .container {
    border: green solid 3px;
    height: 300px;
    width: 80%;
    margin: auto;
    background-color: red;

}

.social {
    border: red solid 3px;
    height: 1500px;
    background-color: aqua;

}

.social .container {
    border: purple solid 3px;
    height: 100%;
    margin: auto;
    width: 80%;
    background-color: rgb(210, 130, 55);
}
