.header {
    border: 3px solid orange;
    height: 80px;
    background-color:  purple;


}
.header .container{
    border: 3px solid black;
    margin: auto;
    height: 100%;
    width: 80%;
}

.header .container .navbar{
    border: solid 3px green;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
    list-style-type: none;
    

}
.footer {
    border: orange solid 3px;
    height: 200px;
    background-color: purple;
}
.footer .container {
    border: blue solid 3px;
    margin: auto;
    height: 90%;
    width: 90%;

}


