.body {
    margin: 0;

}
html {
    /* animation: gradient 2s ease infinite;
    background:linear-gradient(-45deg, red,black, purple, red) no-repeat;
    background-size: 300% 2000%; */
    background-color: black;
}
/* @keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;}
    100%{
        background-position: 0 50%;
    }
} */

.banner {
    height: 770px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: right;
    position: relative;
    margin-top: 0;

}

.banner video{
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 0;
    position: relative;
}



.imgs {
    border: solid 3px green;
    width: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.imgs img {
    width: 350px;
    height: 300px;
}

.allsocial{
    background-image: url(../assets/10caudas-madara.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}

.social {
    width: 80%;
    background-color: rgb(44, 13, 49);
    border: red solid 3px;
    display: flex;
    margin: auto;

    
}

.social .img2{
    border: solid 3px purple;
    justify-content: flex-start;
    border-radius: 10px;
    margin: auto;
    width: 300%;
    height: 700px;
    display: flex;
    color: white;
    flex-direction: column;
}

.imgs2 img {
    width: 700px;
    height: 500px;
    margin-left: 10px;
}



.historia {
    border: solid 3px purple;
    justify-content: flex-start;
    border-radius: 10px;
    margin: auto;
    width: 90%;
    height: 400px;
    display: flex;
    color: white;
    flex-direction: column;
    margin-top: 30px;
    font-size: 20px;
    overflow: scroll;
}

.historia2{
    border: yellow 3px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: white;
    font-size: 20px;
}


.social2 {
    height: 700px;
    background-image: url(../assets/712113.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    margin: auto;
}

.social3{
    height: 600px;
    background-image: url(../assets/quiz.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content:end;
    align-items: center;
    width: 80%;
    margin: auto;
    
}
.social3 .container{
    border: solid 3px green;
    display: flex;
    margin-right: 200px;
    height: 120px;
    width: 400px;
    font-size: x-large;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social3 .container #aqui2 a{
    text-decoration: none;
    color: red;
    display: flex;
    font-size: 30px;
    font-weight: 900;
    transition: font-size 0.5s;
    font-family: 'Courier New', Courier, monospace;

}
.social3 .container #aqui2 a:hover{
    font-size: 40px;
}
.social4{
    height: 600px;
    background-image: url(../assets/madara-interaçao.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content:start;
    align-items: center;
    width: 80%;
    margin: auto;

}
.social4 .container{
    border: solid 3px green;
    display: flex;
    margin-left: 200px;
    height: 120px;
    width: 400px;
    font-size: x-large;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social5{
    height: 400px;
    background-image: url(../assets/madara-folha.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content:start;
    align-items: center;
    width: 80%;
    margin: auto;

}
.social5 .container{
    border: solid 3px green;
    display: flex;
    margin-right: 200px;
    height: 400px;
    width: 600px;
    font-size: x-large;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.social5 .container img{
    position: absolute;
    height: 400px;
    width: 600px;
}


[data-animar]{
    opacity: 0;
    transition: .5s;
}

[data-animar="left"]{
    transform: translate3d(-50px, 0, 0);
}
[data-animar="right"]{
    transform: translate3d(-50px, 0, 0);
}
[data-animar="top"]{
    transform: translate3d(0, -50px, 0);
}

[data-animar].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px)
}