.footer {
    height: 60px;
    background-color:  rgb(45, 26, 49);
    width: 100%;
    bottom: 0;
}
.footer .container {
    margin: auto;
    height: 90%;
    width: 90%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}