body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/fundo-rinnegan.jpg);
    background-size: cover;
}

*{
  margin: 0;
  padding: 0 0 0 10px;

}

#logado_usuario{
  color: black;
}
  ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    
    ::-webkit-scrollbar-track-piece {
      background-color: #ffffff;
    }
    
    ::-webkit-scrollbar-thumb:vertical {
      height: 5px;
      background-color: #666;
    }
  
 
  
  html{
    overflow-x: hidden;
  
  }

  .social{
    height: 100vh;  
    width: 100vh;
    display: flex;
  }


.social .container ul {
    /* border: solid 3px green; */
    width: 100vw;
    list-style: none;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
}

.social .box {
    visibility: hidden;
    opacity: 0;
    position: fixed;
}

.social .box:target {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, .7);
    position: fixed;
    display: block;
    z-index: 11;

}

.social  .foto {
    /* border: solid 3px green; */
    width: 200px;
    height: 150px;
    padding: 19px;
    transition: transform 0.7s ease;

}
.social .foto:hover{
    transform:  scale(1.2);
}

.social .container .box .galeria {
    width: 1000px;
    margin: 150px auto;
}

.btn {
    color: white;
    font-family: Arial;
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;

}

.galeria img{
  opacity: 0;

}

.box:target .galeria img {
    opacity: 1;
    transition: opacity 0.4s linear;
    width: 40%;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-top: 130px;
 
}

#ctimg{
  height: 500px;
  width: 700px;
}

#prev {
    left: 5%;
    top: 45%;
}

#next {
    right: 5%;
    top: 45%;
}

#close {
    top: 0;
    right: 2%;
}
