.janela {
    display: flex;
    width: 100vw;
  }
  
  
  .dash-right {
    display: flex;
    width: 75%;
    height: fit-content;
    background-color: #161618;
    position: relative;
    top: 0;
    left: 25%;
  }
  
  
  .hello {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .hello h3 {
    color: #e3b062;
    font-weight: 300;
    font-size: 1.2rem;
  }
  
  .hello h3 span {
    font-weight: 800;
  }
  
  .btn-nav {
    width: 40%;
    color: white;
    background-color: #e6005a;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }
  
  .btn-nav-white {
    width: 40%;
    background-color: white;
    border: 3px solid #e6005a;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }
  
  .btn-nav-white h3 {
    color: #e6005a;
    padding: 0;
    margin: 0;
  }
  
  .btn-nav h3,
  .btn-logout h3 {
    margin: 0;
    padding: 0;
  }
  
  .btn-logout {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #32b9cd;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 100px;
    cursor: pointer;
  }

  .dash-header {
    background-color: #212124;
  }
  
  .dash {
    width: 600px;
    position: relative;
    display: flex;
    background-color: #35354c;
    height: 500px;
    
  
    /* width: 75%;
      display: flex;
      background-color: #161618;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;*/
    height: 70vh;
  }
  
  .regua {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }
  
  
  
 
 
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    width: 100%;
    align-items: center;
    color: white;
  }
  
  .card {
    margin: 2%;
    width: 40%;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    height: 180px;
    justify-content: right;
    background-color: #212124;
    font-size: 20px;
  }
  
  .card p {
    margin: 0;
    font-size: 50px;
    font-weight: lighter;
    text-align: left;
  }
  
  .cards h1 {
    font-size: 22px;
    width: 100%;
    border-bottom: solid white 1px;
    text-align: left;
    font-weight: lighter;
    margin: 20px;
  }
  
  .temperatura,
  .umidade {
    margin: 5px;
    margin-left: 20px;
    width: 75%;
  }
  
  .cor-alerta {
    width: 13%;
    height: 30%;
    border-radius: 50px;
    margin-top: 6%;
    /* background-color: #c7c7c7; */
  }
  
  .btns-dash {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  .graph {
    width: 60%;
    margin: auto;
    padding-top: 10px;
  }
  
  .tituloGraficos {
    color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
  }
  
  .btn-chart {
    font-family: "Exo 2", sans-serif;
    border: 0;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: #e6005a;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
  }