body{
   /* background-color: #212124; */
   margin: 0;
}

html{
  background-color: #35354c;
}

.social {
  /* border: solid 3px brown; */
  height: 100vh;
  margin-top: 100px;
  background-image: url(../assets/madara.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
  
  
  .hello {
    /* border: solid 3px green; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .hello h3 {

    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    font-family: cursive;
  }
  
  .hello h3 span {
    font-weight: 800;
  }
  
  .dash-header {
    background-color: #212124;
  }
  
  .dashboard {
    border: solid purple 10px;
    position: absolute;
    display: flex;
    background-color: #35354c;
    height: 500px;
    height: 70vh;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 75%;
      display: flex;
      background-color: #161618;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
  }
  
  
  .pontuacao{
    margin: 5px;
    margin-left: 20px;
    width: 75%;
  }
  
  
  .btns-dash {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  .graph {
    width: 60%;
    margin: auto;
    padding-top: 10px;
  }
  
  .tituloGraficos {
    color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
  }
  
  .grafico {
    font-family: "Exo 2", sans-serif;
    border: 0;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: #e60000;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
  }