.body {
    margin: 0;
}
html {
    /* animation: gradient 2s ease infinite;
    background:linear-gradient(-45deg, red,black, purple, red) no-repeat;
    background-size: 300% 2000%; */
    background-color: black;
}
/* @keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;}
    100%{
        background-position: 0 50%;
    }
} */

.banner {
    height: 770px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 0;
    
    
}

.banner video{
    justify-content: center;
    display: flex;
    width: 100vw;
    object-fit: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: relative;
    /* position: fixed; */
    
}



.imgs {
    /* border: solid 3px green; */
    width: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.imgs img {
    width: 350px;
    height: 300px;
}



.social {
    border: black solid 3px;
    width: 80%;
    background-color: rgb(44, 13, 49);
    display: flex;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 10px 10px black;
}

.social .img2{
    /* border: solid 3px purple; */
    justify-content: flex-start;
    border-radius: 10px;
    margin: auto;
    width: 300%;
    height: 700px;
    display: flex;
    color: white;
    flex-direction: column;
}

.imgs2 img {
    width: 600px;
    height: 500px;
    margin-left: 10px;
    margin-top: 20px;
}



.historia {
    /* border: solid 3px purple; */
    justify-content: flex-start;
    border-radius: 10px;
    margin: auto;
    width: 90%;
    height: 400px;
    display: flex;
    color: white;
    flex-direction: column;
    margin-top: 30px;
    font-size: 20px;
    overflow: scroll;
    font-family: cursive;
    overflow-x: hidden;
    
}

.historia2{
    /* border: yellow 3px solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    font-family: cursive;
    padding: 10px;
    
}
.transicao{
    margin-top: 30px;
    width: 100%;
    height: 250px;
    background-color: black;
    color: White;
}

.allsocial{
    background-image: url(../assets/10caudas-madara.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: top;

}

.allsocial2{
    background: url(../assets/kyuubis2.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.social2 {
    height: 700px;
    background-image: url(../assets/712113.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    
}
.social2 .container {
    width: 300px;
    height: 120px;
    margin-left: 800px;
    font-size: 30px;
    font-weight: bolder;
    border: black solid 3px;
}
.social2 .container a{
    text-decoration: none;
    color: red;

}

.social3{
    height: 600px;
    background-image: url(../assets/quiz.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content:end;
    align-items: center;
    width: 80%;
    margin: auto;
    
}
.social3 .container{
    border: solid 3px green;
    display: flex;
    margin-right: 200px;
    height: 120px;
    width: 400px;
    font-size: x-large;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social3 .container #aqui2{
    text-decoration: none;
    color: red;
    display: flex;
    font-size: 30px;
    font-weight: 900;
    transition: font-size 0.5s;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;

}
.social3 .container #aqui2 a:hover{
    font-size: 40px;
}
.social4{
    height: 600px;
    background-image: url(../assets/madara-interaçao.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content:start;
    align-items: center;
    width: 80%;
    margin: auto;

}
.social4 .container{
    border: solid 3px green;
    display: flex;
    margin-left: 200px;
    height: 120px;
    width: 400px;
    font-size: x-large;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social4 .container a{
    text-decoration: none;
    color: red;
    display: flex;
    font-size: 30px;
    font-weight: 900;
    transition: font-size 0.5s;
    font-family: 'Courier New', Courier, monospace;

}
.social5{
    height: 400px;
    background-image: url(../assets/madara-folha.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content:start;
    align-items: center;
    width: 80%;
    margin: auto;

}
.social5 .container{
    /* border: solid 3px green; */
    display: flex;
    margin-right: 200px;
    height: 400px;
    width: 600px;
    font-size: x-large;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.social5 .container img{
    position: absolute;
    height: 400px;
    width: 600px;
}


[data-animar]{
    opacity: 0;
    transition: .5s;
}

[data-animar="left"]{
    transform: translate3d(-50px, 0, 0);
}
[data-animar="right"]{
    transform: translate3d(-50px, 0, 0);
}
[data-animar="top"]{
    transform: translate3d(0, -50px, 0);
}

[data-animar].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px)
}

[data-animado]{
    opacity: 0;
    transition: 4s;
}

[data-animado="left"]{
    transform: translate3d(1000px, 0, 0);
}
[data-animado].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px)
}