body {
  background-color: black;
}

.banner {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: right;
  position: relative;
}

.banner video {
   justify-content: center;
    display: flex;
    width: 100%;
    margin-top: 0;
    position: relative;
}

.banner .container2 {
  border: black solid 3px;
  height: 200px;
  width: 300px;
  justify-content: center;
  margin: auto;
  border-radius: 30px;
  margin-top: 20%;
  margin-right: 10%;
  position: absolute;
  color: white;
  box-shadow: 10px 10px black;
  animation: gradienta 10s ease infinite;
  background:linear-gradient(-45deg,rgb(56, 14, 59), red, black, purple) no-repeat;
  background-size: 300% 300%;


}
@keyframes gradienta{
  0%{
      background-position: 0 50%;
  }
  50%{
      background-position: 100% 50%;}
  100%{
      background-position: 0 50%;
  }
}



.banner .container2 h2 {
  justify-content: center;
  display: flex;
  margin-bottom: 0;
}

.banner .container2 .ipt {
  justify-content: center;
  display: flex;
  margin: auto;
  width: 50%;
  height: 20px;
  border-radius: 5px;

}

.banner img {
  position: absolute;
  height: 700px;
  width: 100%;

}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

.btn {
  display: flex;
  width: 50%;
  justify-content: center;
  border-radius: 10px;
  margin-left: 25%;
  margin-top: 5%;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}