body {
  margin: 0;
}



.social {
  width: 100vw;
  height: 100vh;
    animation: gradient 7s ease infinite;
    background:linear-gradient(-45deg, red,rgb(233, 199, 199), purple, red) no-repeat;
    background-size: 300% 300%; 
    background-color: black;
}
@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;}
    100%{
        background-position: 0 50%;
    }
} 


#tituloPerfil {
  font-weight: 900;
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-family: cursive;
}

#dialogo{
  display: flex;
  justify-content: center;
  font-family: cursive;
}

#botao_sorteio{
  display: flex;
  justify-content: center;
  margin: auto;
}

.social .container {
  /* border: solid 3px blue; */
  display: flex;
  flex-wrap: wrap;
  background-color: #666;
  width: 95%;
  margin: auto;

}

.social .container ul {
  /* border: solid 3px yellow; */

  list-style: none;
  display: flex;
  flex-wrap: wrap;
}


.social .container .foto {
  /* border: solid 3px black; */
  width: 200px;
  height: 150px;
  padding: 19px;
  transition: transform 0.7s ease;


}

.social .container .foto:hover {
  transform: scale(1.2);
}

.social2 {

  margin: 0;
}

.social2 .container2 {
  background-color: white;
  margin: 0;
}

.social2 h1 {
  display: flex;
  justify-content: center;

}
.social2 .container2 #bemvindo{
  font-size: 30px;
  font-weight: 900;
}

.social2 .container2 .legenda {
  display: flex;
  border: purple 3px solid;
  height: 100%;
  background: rgb(109, 92, 111);
}

.legenda #nome_legenda{
  list-style: none;
  font-weight: 900;
  font-size: 30px;
  margin-top: 30px;
}
.legenda #nome{
  font-size: 30px;
}
.legenda #email_legenda{
  list-style: none;
  font-weight: 900;
  font-size: 30px;
  margin-top: 30px;
}

#frase_efeito{
  margin-top: 100px;
  list-style: none;
  font-size: 30px;
}

#suafoto {
  border: solid 10px black;
  box-shadow: 10px 10px black;
  display: flex;
  width: 400px;
  justify-content: center;
  margin-left: 50px;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}



::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #666;
}

#aqui {
  color: red;
  text-decoration: none;
}

li #aqui {
  color: red;
}

.header {
  /* border: solid 3px red; */
  height: 80px;
  background-color: rgb(45, 26, 49);
  width: 100%;
  margin: auto;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  backdrop-filter: opacity(0, 5);
  z-index: 1;
}

.header .container {
  /* border: solid 3px blue; */
  margin-right: 10%;
  margin-left: 10%;
  height: 100%;
  width: 80%;
  display: flex;
  list-style-type: none;
  font-size: xx-large;
  font-weight: 900;
  align-items: center;
  color: rgb(193, 0, 0);
  position: absolute;
  font-family: fantasy;



}

/* .header .container #logo{
  filter: drop-shadow(0 0 20px rgb(152, 0, 0)) drop-shadow(0 0 50px rgb(152, 0, 0));

} */

.header .container .navbar {
  /* border: solid 3px brown; */
  margin-left: 30%;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  list-style-type: none;
  color: white;
  position: absolute;
  font-family: cursive;

}

.header .container .navbar #deslogado {
  display: block;
}

.header .container .navbar li #perfil {
  background: url('../assets/do-utilizador.png');
  background-size: 100% 100%;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
}

.header .container .navbar li #perfil:checked {

  border: none;
}

.header .container .navbar li #perfil option {
  background: rgb(45, 26, 49);
  color: white;

}

.header .container .navbar li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: color 1s;
  transition: font-size 0.2s;


}

.header .container .navbar li a:hover {
  color: red;
  font-size: 25px;
  opacity: 1;

}

#logado_usuario {
  color: red;

}


html {
  overflow-x: hidden;

}