body{
    background-color: rgb(255, 191, 0);
}

.social{
    width: 100vw;
    height: 100vh;
}

.container{
    border: solid 3px blue;
    display: flex;
    flex-wrap: wrap;

}
.container ul{
    border: solid 3px yellow;

    list-style: none;
    display: flex;
    flex-wrap: wrap;
}


.container .foto {
    border: solid 3px green;
    width: 200px;
    height: 150px;
    padding: 19px;
    transition: transform 0.7s ease;


}
.container .foto:hover{
    transform:  scale(1.2);
}

#tituloPerfil{
    font-weight: 900;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.banner2{
    display: flex;
    justify-content: center;
    border: solid 3px pink;
    height: 400px;
}

.dialogo{
    border: solid red 3px;
    display: flex;
    justify-content: center;

    font-size: 30px;
}
.usuario{
    border: solid red 3px;
    font-size: 25px;
    font-weight: 900;
}

.foto_usuario{
    border: solid red 3px;
    display: flex;
    justify-content: center;
    width: 300px;
    margin-left: 39%;
}


.banner2 li {
    list-style-type: none;
    display: flex;
    justify-content: center;

}
.banner2 li a{
    border: solid brown 3px;
    text-decoration: none;

}







 
.hello {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .hello h3 {
    color: #e3b062;
    font-weight: 300;
    font-size: 1.2rem;
  }
  
  .hello h3 span {
    font-weight: 800;
  }
  
  .dash-header {
    background-color: #212124;
  }
  
  .dashboard {
    position: absolute;
    display: flex;
    background-color: #35354c;
    height: 500px;
    height: 70vh;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 10px;
  
    width: 75%;
      display: flex;
      background-color: #161618;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
  }
  
  
  .pontuacao{
    margin: 5px;
    margin-left: 20px;
    width: 75%;
  }
  
  
  .btns-dash {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  .graph {
    width: 60%;
    margin: auto;
    padding-top: 10px;
  }
  
  .tituloGraficos {
    color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
  }
  
  .grafico {
    font-family: "Exo 2", sans-serif;
    border: 0;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: #e6005a;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
  }










