body {
  background-color: black;
}

.banner {
  height: 700px;
  width: 100%;
  margin: auto;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-image: url(../Assets/madara\ e\ hashirama.gif);

}

.banner .container {
  border: black solid 3px;
  height: 200px;
  width: 300px;
  justify-content:center;
  margin: auto;
  background-color: rgb(56, 14, 59);
  border-radius: 30px;  
  margin-bottom: 300px;

}

.banner .container h2 {
  justify-content: center;
  display: flex;
  margin-bottom: 0;
}

.banner .container .ipt {
  justify-content: center;
  display: flex;
  margin: auto;
  width: 50%;
  height: 20px;

}

.banner img {
  position: absolute;
  height: 700px;
  width: 100%;

}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

.btn {
  display: flex;
  width: 50%;
  justify-content: center;
  border-radius: 10px;
  margin-left: 25%;
  margin-top: 5%;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}